@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@500&display=swap');

@tailwind utilities;

:root {
  --shadow-small: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 8px 30px rgba(0, 0, 0, 0.1);

  --radius-small: 4px;
  --radius: 8px;
  --radius-large: 4px;

  --gap-small: 0.75rem;
  --gap: 1.5rem;
  --gap-large: 3rem;

  --divider: #2d2e31;
}

@media (prefers-color-scheme: light) {
  body {
      --divider: #eaeaea;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  max-height: 100%;
}

body {
  color: var(--text);
  background: var(--base);
  transition: var(--transition-colors);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
